:root {
    --color-base-bg: #dbdbdb;

    --color-square-bg: #cccccc;
    --color-square-font: #1a1a1a;

    --color-button-bg: #e2e2e2;
}

button {
	width: clamp(12px, 9%, 60px);
}

button[data-key="Enter"],
button[data-key="Backspace"] {
	width: clamp(50px, 10%, 75px);
}
