:root {
	--green: #198754;
	--yellow: #FFC107;
	--red: #DC3545;
	--darkBlue: #0D6EFD;
	--grey: #6C757D;
	--dark: #212529;
	--light : #F8F9FA;
}


#message-container {
	position: absolute;
	padding: 8px;
	font-size: 0.9rem;
	width: clamp(50px, 80%, 200px);
	left: 50%;
	transform: translateX(-50%);
	top:0.5rem;
	text-align: center;
}

button {
	width: clamp(30px, 10%, 60px);
	height: 50px;
}

button[data-key="Enter"],
button[data-key="Backspace"] {
	width: clamp(30px, 15%, 90px);
}

#rows {
	display: flex;
	justify-content: center;
}

#rows button {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.5rem;
	margin: 0 0.9px;
}

#tiles-container {
	position: relative;
	display: grid;
	grid-template-columns: repeat(5, clamp(25px, 10vh, 60px));
	gap: 0.5rem;
	justify-content: center;
	
}

#tiles-container #tile{
	height: clamp(25px, 10vh, 60px);
	width: clamp(25px, 10vh, 60px);
	background: #000;
	border: 1px solid var(--grey);
	font-size: 2rem;
	display: grid;
	place-items: center;
	user-select: none;
}

#tiles-container .dark {
	color: var(--dark);
}

#tiles-container .yellow {
	color: var(--yellow);
}

#tiles-container .green {
	color: var(--green);
}

button {
	font-size: rem;
}

button.btn-secondary {
	background: #000000;
}


